/* Footer stuff */

.wrapper {
    /*min-height: 100%;*/
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer,
.push {
    height: 4em;
}

.padding {
    padding: 4px;
}

.myMenu {
    border-bottom: 1px solid grey;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 10px;
}

.loader {
    color: black;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 22vh;
    opacity: 0.8;
}

.loader span {
    display: inline-block;
    -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
    animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader span:nth-child(odd) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

@-webkit-keyframes pulse {
    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.5;
    }
}

@keyframes pulse {
    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.5;
    }
}

.size-12 {
    font-size: 12px;
}

.size-14 {
    font-size: 14px;
}

.size-16 {
    font-size: 16px;
}

.size-18 {
    font-size: 18px;
}

.size-21 {
    font-size: 21px;
}

.size-24 {
    font-size: 24px;
}

.size-36 {
    font-size: 36px;
}

.size-48 {
    font-size: 48px;
}

.size-60 {
    font-size: 60px;
}

.size-72 {
    font-size: 72px;
}