<div class="small-12 medium-5 columns">
    <img src="../assets/images/logo.png">
</div>
<div class="small-12 medium-6 columns end">
    <div class="about-box">
        <h2>Code is beautiful!</h2>
        <h3>Side by Side, and the beauty doubles.</h3>
        <p class="lead">
            Tens of programming languages are out there. Fascinating indeed! Even more, is the ability to see how problems, solved in one language, are and or can be approached, yet in another language.
        </p>
        <p>
            Enjoy learning how the code you write compares to many popular programming languages today, instantly.
        </p>
    </div>
</div>
<div class="small-12 columns">
    <img src="../assets/images/welcome.png" class="thumbnail">
</div>
<div class="small-12 columns word-section">
    <div class="callout">
        <h2 class="text-center">
        Pick up the accent of the new language you are learning, fast!
    </h2>
        <h4 class="text-center">
        Reshape your thinking. Learn new tricks!
    </h4>
    </div>
</div>
<div class="row small-up-1 medium-up-2 large-up-3">
    <div class="column hoverable">
        <h4 class="text-center divider">Side-by-Side
        </h4>
        <p class="divider">
            <img src="../assets/images/about-1.png" alt="">
        </p>
        <p class="text-center">
            We call it, 'CodeBySide', designed to give you instant access to comparing code snippets, submitted by your peer programmers. You love to code in your favorite language. They love their languages too. Let's put them side by side!
        </p>
        <p class="text-center">
            <a href="#/codes/-KL7i0Vj9WSshe8k1E8r" class="button small">See example</a>
        </p>
    </div>
    <div class="column hoverable">
        <h4 class="text-center divider">Learn more
        </h4>
        <p class="divider">
            <img src="../assets/images/about-2.png" alt="">
        </p>
        <p class="text-center">
            The opportunity to see how similar problems are solved in other languages are intriguing. That is why CodeBySide provides you with a fresh look and way thinking into whatever languages you compare, dearly contributed by the community.
        </p>
        <p class="text-center">
            <a ui-sref="home" class="button small">Learn</a>
        </p>
    </div>
    <div class="column hoverable">
        <h4 class="text-center divider secondary">Teach others
        </h4>
        <p class="divider">
            <img src="../assets/images/about-3.png" alt="">
        </p>
        <p class="text-center">
            You might be an expert in more than enough languages. Why not mentor upcoming developers and help solve simple yet complex code snippets. We stand to learn more than enough from the experience you share!
        </p>
        <p class="text-center">
            <a ui-sref="new" class="button small">Start helping</a>
        </p>
    </div>
</div>
<div class="small-12 columns word-section">
    <h2 class="text-center">Support</h2>
    <div class="callout">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <h3>Get started with CodeBySide</h3>
                <p>
                    On the homepage, click on any of the listed recent CodeSides. Select the 'From' dropdown and choose language you wish to compare to the 'To' box on the right.
                </p>
                <p>
                    Switch the languages from the dropdown menus to see language change instantly!
                </p>
                <p>
                    To Add a new CodeSide, <a ui-sref="login">Login</a> and visit the <a ui-sref="new">New</a> page and follow the onscreen instructions!
                </p>
                <p>
                    Watch video to learn more:
                </p>
            </div>
            <div class="small-12 medium-6 columns">
                <h3>Terms of Service</h3>
                <p>
                    All code submitted to CodeBySide are under the default license of CC-BY-SA, unless otherwise indicated by the original poster (OP).
                </p>
                <h3>Privacy Policy</h3>
                <p>
                    CodeBySide is built using entirely Firebase SDK 3.0. Firebase products used include Authentication, Hosting and Database. The most private data CodeBySide happens to access from you is your Email, of which we believe belongs to you and only you. We only use emails to ensure at least, humans are involved in submitting code after the email is verified.
                </p>
            </div>
        </div>
    </div>
</div>
