<div class="push"></div>
<div class="footer">
    <div class="row">
        <div class="small-12 columns">
            <div class="menu-centered" style="border-top:1px solid #d6d6d6;">
                <ul class="menu vertical">
                    <li>Thank you</li>
                    <li><a target="new" href="http://khophi.co">...with <i class="step fi-heart size-18"></i>by Khophi's Dev</a></li>
                </ul>
                <ul class="menu vertical">
                    <li>Other projects</li>
                    <li><a href="https://github.com/seanmavley/AngularFire2-authentication">AngularFire2 Authentication</a></li>
                    <li><a href="https://khophi.co">More</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>