<div class="push"></div>
<div class="footer">
    <div class="row">
        <div class="small-12 columns">
            <div class="menu-centered" style="border-top:1px solid #d6d6d6;">
                <ul class="menu vertical">
                    <li>Footer</li>
                    <li><a target="new" href="http://khophi.co">...with <i class="step fi-heart size-18"></i>by Khophi's Dev</a></li>
                </ul>
                <ul class="menu vertical">
                    <li>About</li>
                    <li><a>Another link</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>